* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

main {
    background-color: #121214;
    
}

h1 {
    color: #FFFFFF;
    font-family: font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    size: 32px;
}

.c_father { 
   
}

.container {
  
}

.users {
        width: 100%;
        color: #9c9c9c; 
        
        
        
}

.l1 {
    max-width: 700px;
    
}

.i1:hover {
    border: solid white;
    border-width: 4px;
}

.i1 {
    width: 160px;
    height: 160px;
    border-radius: 8%;

}

p {
    font: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    font-size: 15px;
}

.quadrado {
    width: 160px;
    height: 160px;
    background-color: #1e1e20;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 5px solid #6F6F70;
    
}

.quadrado:hover  {
    border: solid white;
    border-width: 6px;
    
}



.quadrado .circulo {
width: 60px;
height: 60px;
border-radius: 50%;
border: 8px solid #6F6F70;
display: flex;
justify-content: center;
align-items: center;

}

.quadrado:hover .circulo  {
    border: solid white;
    border-width: 8px;
    
}

.quadrado .circulo .cima {
    position: absolute;
    width: 0.1px;
    height: 25px;
    border-radius: 12px;
    border: 4px solid #6F6F70;

}

.quadrado:hover .cima  {
    border: solid white;
    border-width: 3px;
}

.quadrado .circulo .baixo {
    position: absolute;
    width: 25px;
    height: 0.1px;
    border-radius: 12px;
    border: 4px solid #6F6F70;
    
}

.quadrado:hover .baixo  {
    border: solid white;
    border-width: 100%;
}


button {
    
    background-color: #121214;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: 11px;
    color: #FFFFFF;
    width: 206px;
    height: 40px;
    border: 2.5px solid #FFFFFF;
    border-radius: 8px;
}

button:hover {
    background-color: #FFFFFF;
    color: #000000;
}