* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

main {
    background-color: #121214;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    gap: 60px;
    padding-top: 100px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    margin-top: -52px;
    margin-bottom: 83px;
}

h1 {
    color: #FFFFFF;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    font-size: 32px;
}

.container {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
}

.users {
        
    display: flex;
    color: #9C9C9C;
    gap: 1rem;
    justify-content: space-between;
    width: 700px;
    max-width: 700px;
}

li {
    max-height: 160px;
    width: 160px;
}

li:hover p {
    color: #FFFFFF;
}

li:hover .i1 {
    border: solid white;
    border-width: 4px;
}

.i1 {
    width: 160px;
    height: 160px;
    border-radius: 8%;
    max-height: 160px;
}

.i2 {
    width: 160px;
    height: 160px;
    border-radius: 8%;
    max-height: 160px;
}

.l2:hover .i2 {
    content: url("./img/Hover/quadhover.png");
    border: solid 4px white;   
}

.l2:hover p {
    color: #FFFFFF;
}

p {
    font: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    font-size: 15px;
}

.b_father {
    display: flex;
    justify-content: center;
}

button {
    
    background-color: #121214;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: 11px;
    color: #FFFFFF;
    width: 206px;
    height: 40px;
    border: 2.5px solid #FFFFFF;
    border-radius: 8px;
}

button:hover {
    background-color: #FFFFFF;
    color: #000000;
}